<div *ngIf="user?.data ; else notfound">
    <div class="users-list">
        <mat-list>
            <mat-list-item routerLink="/userdetail/{{user?.data?.id}}">
                <img matListItemAvatar [src]="user?.data?.avatar" [alt]="user?.data?.last_name">
                <h3 matListItemTitle>{{user?.data?.first_name +" " +user?.data?.last_name}}</h3>
                <p matListItemLine>
                    <span>{{user?.data?.email}}</span>
        
                </p>
            </mat-list-item>
        </mat-list>
      
    </div>
  </div>
  <ng-template  #notfound   >
   <p class="id-not-found" *ngIf="idNotFound; else spinner" >Id {{id}} Not Found </p>
  </ng-template>


  <ng-template #spinner>
    <mat-spinner class="spinner"></mat-spinner>
  </ng-template>



