/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.users-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.mat-mdc-list-item:not(.mat-mdc-list-item-interactive) , .logo-link{
    cursor: pointer!important;
}

.spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}